// #error_page {
//     min-height: 100vh;
//     display: grid;
//     place-items: center;

//     .error_container {
//         text-align: center;

//         h1 {
//             font-size: 60px;

//             i {
//                 color: red;
//                 margin-right: 10px;
//             }
//         }
//     }
// }

// @media (max-width: 575.98px) {
//     #error_page {
//         .error_container {
//             h1 {
//                 font-size: 25px;
//             }
//         }
//     }
// }

// @media (min-width: 576px) and (max-width: 767.98px) {
//     #error_page {
//         .error_container {
//             h1 {
//                 font-size: 35px;
//             }
//         }
//     }
// }

// @media (min-width: 768px) and (max-width: 991.98px) {
//     #error_page {
//         .error_container {
//             h1 {
//                 font-size: 40px;
//             }
//         }
//     }
// }

// @media (min-width: 992px) and (max-width: 1199.98px) {
//     #error_page {
//         .error_container {
//             h1 {
//                 font-size: 50px;
//             }
//         }
//     }
// }

// @media (min-width: 1200px) {
//     #error_page {
//         .error_container {
//             h1 {
//                 font-size: 60px;
//             }
//         }
//     }
// }
$color_1: #bbb;
$color_2: #fff;
$font-family_1: 'Catamaran', sans-serif;
$font-family_2: 'Montserrat', Helvetica, sans-serif;
$background-color_1: transparent;
$background-color_2: #FDFAF5;
$background-color_3: #de7e85;

@import "https://fonts.googleapis.com/css?family=Montserrat:400,600,700";
@import "https://fonts.googleapis.com/css?family=Catamaran:400,800";
@keyframes bgshadow {
	0% {
		box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
	}
	45% {
		box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
	}
	55% {
		box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
	}
	100% {
		box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
	}
}
/* demo stuff */
.error-container {
	text-align: center;
	font-size: 106px;
	font-family: $font-family_1;
	font-weight: 800;
	margin: 70px 15px;
	>span {
		display: inline-block;
		position: relative;
	}
	>span.four {
		width: 136px;
		height: 43px;
		border-radius: 999px;
		background: linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%), linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%), linear-gradient(to right, #d89ca4, #e27b7e);
		&:before {
			content: '';
			display: block;
			position: absolute;
			border-radius: 999px;
			width: 43px;
			height: 156px;
			left: 60px;
			bottom: -43px;
			background: linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%), linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%), linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			border-radius: 999px;
			width: 137px;
			height: 43px;
			transform: rotate(-49.5deg);
			left: -18px;
			bottom: 36px;
			background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
		}
	}
	>span.zero {
		vertical-align: text-top;
		width: 156px;
		height: 156px;
		border-radius: 999px;
		background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%), linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
		overflow: hidden;
		animation: bgshadow 5s infinite;
		&:before {
			content: '';
			display: block;
			position: absolute;
			transform: rotate(45deg);
			width: 90px;
			height: 90px;
			background-color: $background-color_1;
			left: 0px;
			bottom: 0px;
			background: linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%), linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			border-radius: 999px;
			width: 70px;
			height: 70px;
			left: 43px;
			bottom: 43px;
			background: #FDFAF5;
			box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
		}
	}
}
.screen-reader-text {
	position: absolute;
	top: -9999em;
	left: -9999em;
}
// * {
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// }
// body {
// 	background-color: $background-color_2;
// 	// margin-bottom: 50px;
// }
// html {
// 	font-family: $font-family_2;
// 	color: $color_1;
// }
// button {
// 	font-family: $font-family_2;
// 	color: $color_1;
// }
// input {
// 	font-family: $font-family_2;
// 	color: $color_1;
// }
// select {
// 	font-family: $font-family_2;
// 	color: $color_1;
// }
// textarea {
// 	font-family: $font-family_2;
// 	color: $color_1;
// }
// h1 {
// 	text-align: center;
// 	margin: 30px 15px;
// }
.zoom-area {
	max-width: 490px;
	margin: 30px auto 30px;
	font-size: 19px;
	text-align: center;
}
.link-container {
	text-align: center;
}
a.more-link {
	text-transform: uppercase;
	font-size: 13px;
	background-color: $background-color_3;
	padding: 10px 15px;
	border-radius: 0;
	color: $color_2;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 1.5;
	text-decoration: none;
	margin-top: 50px;
	letter-spacing: 1px;
}
